:root{
  --rojo:#D91A2A;
  --azul:#0F1C35;
  --gris:#F4F6FA;
  --borde:#E2E8F0;
  --texto:#64748B;
  --sidebar-width:240px;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--gris);
  font-family:Arial, sans-serif;
}

/* SIDEBAR */

.sidebar{
  width:var(--sidebar-width);
  background:var(--azul);
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  display:flex;
  flex-direction:column;
}

.logo{
  background:var(--rojo);
  height:80px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}

.sidebar-menu{
  padding-top:20px;
  flex:1;
}

.menu-btn{
  display:flex;
  align-items:center;
  gap:14px;
  padding:15px 22px;
  color:rgba(255,255,255,.75);
  text-decoration:none;
  transition:.2s;
  font-size:15px;
}

.menu-btn i{
  width:20px;
  font-size:16px;
}

.menu-btn:hover{
  background:rgba(255,255,255,.08);
  color:white;
}

.menu-btn.active{
  background:rgba(217,26,42,.25);
  border-left:5px solid #ff3045;
  color:white;
  box-shadow:0 0 15px rgba(217,26,42,.2);
}

.logout{
  padding:20px;
  color:rgba(255,255,255,.7);
  border-top:1px solid rgba(255,255,255,.1);
  display:flex;
  align-items:center;
  gap:10px;
}

/* MAIN */

.main {
    margin-left: 240px; 
    padding: 20px;
    width: calc(100% - 240px);
}

.content {
  padding: 20px 25px;
}

/* HEADER */

.header{
  height:80px;
}

.avatar{
  width:30px;
  height:30px;
  border-radius:50%;
  background:#1A2A4A;
}

