.views-section{
  padding:20px 0;
}

.section-header{
  margin-bottom:30px;
}

.section-header h2{
  font-size:28px;
  color:#0F1C35;
  margin-bottom:8px;
}

.section-header p{
  color:#64748B;
}

/* GRID */

.views-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:10px;
  margin-top:20px;
  padding: 20px 25px;
}

/* CARD */

.view-card{
  background:white;
  border-radius:24px;
  padding:35px 30px;
  text-decoration:none;
  transition:.25s;
  border:1px solid #E2E8F0;

  display:flex;
  flex-direction:column;
  gap:18px;

  box-shadow:0 4px 10px rgba(0,0,0,.03);
}

/* HOVER */

.view-card:hover{
  transform:translateY(-6px);

  border-color:#D91A2A;

  box-shadow:0 15px 35px rgba(0,0,0,.08);
}

/* ICONO */

.view-icon{
  width:65px;
  height:65px;
  border-radius:18px;

  background:rgba(217,26,42,.12);

  display:flex;
  align-items:center;
  justify-content:center;
}

.view-icon i{
  font-size:28px;
  color:#D91A2A;
}

/* TEXTO */

.view-card h3{
  color:#0F1C35;
  font-size:22px;
}

.view-card p{
  color:#64748B;
  line-height:1.5;
}
